.bg-green-100 {
  background-color: #d1fae5 !important;
}
.bg-opacity-60 {
  --tw-bg-opacity: 0.6 !important;
}
.bg-opacity-0 {
  --tw-bg-opacity: 0 !important;
}
.bg-yellow-600 {
  background-color: #d97708 !important;
}
.bg-red-600 {
  background-color: rgba(220, 38, 38) !important;
}
